# pulid related
insightface
opencv-python
facexlib
onnxruntime
# ip-adapter
timm
diffusers>=0.33.1
fastapi
uvicorn
uvloop
boto3
beautifulsoup4
python-dotenv
peft
einops
controlnet_aux
mediapipe
image_gen_aux @ git+https://github.com/asomoza/image_gen_aux.git
