# additional requirements for testing
pytest
datasets<4
torchmetrics
mediapipe
controlnet_aux
peft
git+https://github.com/asomoza/image_gen_aux.git
insightface
opencv-python
facexlib
onnxruntime
pytest-rerunfailures
