@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

.gradio-container{max-width: 1200px !important}
h1{text-align:center}

.wrap.svelte-p4aq0j.svelte-p4aq0j {
    display: none;
}

#column_input, #column_output {
    width: 500px;
    display: flex;
    align-items: center;
}

#input_header, #output_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

#accessibility {
    text-align: center; /* Center-aligns the text */
    margin: auto;       /* Centers the element horizontally */
}

#random_seed {height: 71px;}
#run_button {height: 87px;}